@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.title {
  margin: 48px 0 108px 0;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(4, 104px);
  gap: 15px;
}
